.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1000; /* Ensures the header stays above other elements */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  background: linear-gradient(135deg, #1a1a2e, #16213e, #0f3460); ;
}

.logo{
  color: #00f6ff;
}

nav a {
  margin: 1rem 6rem;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

nav a.active {
  font-weight: bold;
  color: #00ffcc; /* Highlight color for active links */
  border-bottom: 2px solid #00ffcc;
}

nav a:hover {
  color: #00f6ff;
  transform: scale(1);
}


button {
  background: var(--button-bg);
  color: var(--text-color);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
  }

  .hamburger span {
    background: white;
    width: 30px;
    height: 3px;
    margin: 5px 0;
    transition: 0.3s;
  }

  nav {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    background: #16213e;
    padding: 1rem 0;
  }

  nav.active {
    display: flex;
  }

  nav a {
    padding: 1rem;
    width: 100%;
    margin-left: 1rem;
  }
}
