<section class="contact-section">
  <h1>Contact Me</h1>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" formControlName="name" type="text" placeholder="Your Name" required />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" placeholder="Your Email" required />
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea id="message" formControlName="message" placeholder="Your Message" rows="5" required></textarea>
    </div>
    <button type="submit">Send Message</button>
  </form>
  <div class="contact-links">
    <h2>Connect with Me</h2>
    <a href="mailto:macroysimen@gmail.com" class="hover-link">Email: {{ email }}</a>
    <a href="tel:+18197018694" class="hover-link">Phone: +1 (819)701-8694</a>
    <a href="https://www.linkedin.com/in/mac-roy-tchuileng-simen-2814a6202/" target="_blank" class="hover-link">LinkedIn</a>
    <a href="C:\Users\Mac Roy\Downloads\Portfolio\pictures\MacResume.pdf" (click)="downloadResume()" class="hover-link">Download Resume</a>
  </div>
</section>
