:root {
  --bg-color: #1a1a2e;
  --text-color: #eaeaea;
  --button-bg: #0f3460;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Ebrima";
  font-size: 24px;
}

body.dark-mode {
  --bg-color: #eaeaea;
  --text-color: #1a1a2e;
  --button-bg: #c8c8c8;
}
